body{
    color:rgb(25, 114, 187);
background: #000;;
}
a{
    color: green;
    text-decoration: none;
}
/* img{
    width: 100%;
} */
a:hover{
    color: hotpink;
    text-decoration: overline;
}
